@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.ic-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ic-header-menu ul {
  display: flex;
  align-items: center;
}
.ic-header-menu ul li {
  list-style-type: none;
}

.ic-header-menu li a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 20px 20px;
  color: #19110b;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 36.75rem;
  display: flex;
  align-items: center;
}
.banner-wrapper {
  display: flex;
}

.banner-left {
  flex: 0 0 auto;
  width: 50%;
}
.banner-left p {
  color: #beb4b4;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner-left h2 {
  font-size: 3.5rem;
  color: #161619;
  margin: 0px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner-left h2 span {
  font-weight: 700 !important;
}
.banner-left a {
  padding: 0.75rem 3rem;
  font-weight: 400;
  color: #161619;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
  border-color: #000;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}
.banner-right {
  flex: 0 0 auto;
  width: 50%;
}
.banner-right img {
  max-width: 100%;
  height: auto;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
}
.book-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.book-item {
  padding: 1.875rem !important;
  flex: 0 0 20%;
  position: relative;
  border: 1px solid #eae8e4;
  transition: all 0.3s ease-in-out;
}
.book-item:hover {
  box-shadow: 0 0 40px 0 rgba(22, 22, 25, 0.1);
  border: 1px solid #333;
}
.book-item img {
  margin: auto;
  display: block;
}
.book-item img {
  max-width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}

.book-item .genere {
  color: #f30b0b;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.book-item h4 {
  margin: 0px;
  margin-bottom: 10px;
}
.book-item p {
  margin: 0px;
}
