@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid #eae8e4;
}
.ic-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ic-header-menu ul {
  display: flex;
  align-items: center;
}
.ic-header-menu ul li {
  list-style-type: none;
}

.ic-header-menu li a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 20px 20px;
  color: #19110b;
}

.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 36.75rem;
  display: flex;
  align-items: center;
}
.banner-wrapper {
  display: flex;
}

.banner-left {
  flex: 0 0 auto;
  width: 50%;
}
.banner-left p {
  color: #beb4b4;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner-left h2 {
  font-size: 3.5rem;
  color: #161619;
  margin: 0px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner-left h2 span {
  font-weight: 700 !important;
}
.banner-left a {
  padding: 0.75rem 3rem;
  font-weight: 400;
  color: #161619;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
  border-color: #000;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}
.banner-right {
  flex: 0 0 auto;
  width: 50%;
}
.banner-right img {
  max-width: 100%;
  height: auto;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
}
.book-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.book-item {
  flex: 0 0 20%;
}
.item-wrap {
  position: relative;
  border: 1px solid #eae8e4;
  transition: all 0.3s ease-in-out;
  padding: 1.875rem !important;
}
.book-item:hover .item-wrap {
  box-shadow: 0 0 40px 0 rgba(22, 22, 25, 0.1);
  border: 1px solid #333;
}
.book-item img {
  margin: auto;
  display: block;
}
.book-item img {
  max-width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}
.book-item a {
  text-decoration: none;
}
.book-item .genere {
  color: #f30b0b;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.book-item h4 {
  margin: 0px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  color: #161619;
}
.book-item p {
  margin: 0px;
  color: #161619;
}
.recent-book {
  padding: 60px 0px;
}
.copyright {
  padding: 20px 0px;
  text-align: center;
  border-top: 1px solid #eae8e4 !important;
}

.auth-wrap {
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 30px;
  box-shadow: 0 0 40px 0 rgba(22, 22, 25, 0.1);
  margin-top: 50px;
}
.auth-wrap h3 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group label {
  font-size: 1rem;
  font-weight: 500;
  color: #161619;
  margin-bottom: 8px;
  display: block;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}
.form-group input {
  padding: 0.844rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7c6e65;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dfdcd7;
}
.form-group span {
  color: red;
  margin-top: 5px;
  display: block;
}
.auth-wrap button {
  width: 100%;
  height: 50px;
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
}

.create-book {
  padding-bottom: 40px;
}

.filter-wrap {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-wrap .search input {
  padding: 0.844rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7c6e65;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dfdcd7;
}
.filter-wrap select {
  padding: 0.844rem 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7c6e65;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dfdcd7;
}
.filter-wrap .filter {
  display: flex;
  align-items: center;
  gap: 20px;
}
.all-books {
  margin-bottom: 40px;
}
.book-details {
  padding: 80px 0px;
}
.book-details-card {
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 30px;
  box-shadow: 0 0 40px 0 rgba(22, 22, 25, 0.1);
  margin-top: 0px;
  text-align: center;
}
